.jumbotron {
    background-color:rgb(199, 252, 252)!important; 
}
.jumbo{
   
    margin-top: 75px;

 
}

h1{
  
    font-weight: 300;
}
body{
    background-image: url("https://th.bing.com/th/id/OIP.Rn3mIIa2VB4h79tOkVmwGwHaHa?w=206&h=206&c=7&o=5&dpr=1.25&pid=1.7");

}